<!--<p-panel header="User Home">
 <p>Address: '0xfB6916095ca1df60bB79Ce92cE3Ea74c37c5d359'</p>
 <p-carousel headerText="Participation in Agreements" [value]="agreementsList" class="ui-carousel">
        <ng-template let-agreement pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="" width="60"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Creation Time</div>
                        <div class="ui-grid-col-6">{{agreement.creationTime}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Price</div>
                        <div class="ui-grid-col-6">{{agreement.price}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Name</div>
                        <div class="ui-grid-col-6">{{agreement.name}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button type="button" pButton icon="pi pi-search" [routerLink]="['/agreement/'+agreement.address]"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
 </p-carousel>

 <p-carousel headerText="My Agreements" [value]="agreementsList">
        <ng-template let-agreement pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="" width="60"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Creation Time</div>
                        <div class="ui-grid-col-6">{{agreement.creationTime}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Price</div>
                        <div class="ui-grid-col-6">{{agreement.price}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Name</div>
                        <div class="ui-grid-col-6">{{agreement.name}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button type="button" pButton icon="pi pi-search"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
 </p-carousel>

 <button pButton type="button" label="Unlock Wallet" class="ui-button-secondary"></button>
</p-panel>-->

<div class="address">
    <div class="address-card">
        <div class="address-div">        
            <p>Wallet address:</p>
        </div>
        <div class="address-value-div">
            <p>0xfB6916095ca1df60bB79Ce92cE3Ea74c37c5d359</p>
        </div>
    </div>
</div>

<div class="user-overview ui-g">
    <div class="ui-g-6 ui-g my-agreements-container">
        <div class="p-offset-1 ui-g-9 my-agreements-div">
            <p>My agreements</p>
        </div>
        <div class="p-offset-1 ui-g-9 ui-g">
            <div class="ui-g-12" *ngFor="let agreement of agreementsList; let i = index">
                <div class="ui-g space">
                    <a [routerLink]="['/agreement/'+agreement.address]">
                        <div class="ui-g-12 card ui-g">
                            <div class="ui-g-12 name-div">
                                <p class="card-name-value">{{agreement.name}}</p>
                            </div>
                            <div class="ui-g-12 price-div">
                                <p class="card-price">Price: </p>
                                <p class="card-price-value">{{agreement.price}}</p>
                            </div>
                            <div class="ui-g-12">
                                <p class="card-blocks-to-expire">Blocks:</p>
                                <p class="card-blocks-to-expire-value">{{agreement.blockToExpire}}</p>
                            </div>                 
                        </div>
                    </a>
                </div> 
            </div>
        </div>
    </div>
    <div class="ui-g-6 ui-g my-agreements-container">
            <div class="p-offset-1 ui-g-9 my-agreements-div">
                <p>Participation in agreements</p>
            </div>
            <div class="p-offset-1 ui-g-9 ui-g">
                <div class="ui-g-12" *ngFor="let agreement of agreementsList; let i = index">
                    <div class="ui-g space">
                        <a [routerLink]="['/agreement/'+agreement.address]">
                            <div class="ui-g-12 card ui-g">
                                <div class="ui-g-12 name-div">
                                    <p class="card-name-value">{{agreement.name}}</p>
                                </div>
                                <div class="ui-g-12 price-div">
                                    <p class="card-price">Price: </p>
                                    <p class="card-price-value">{{agreement.price}}</p>
                                </div>
                                <div class="ui-g-12">
                                    <p class="card-blocks-to-expire">Blocks:</p>
                                    <p class="card-blocks-to-expire-value">{{agreement.blockToExpire}}</p>
                                </div>                 
                            </div>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
</div>
