<!--<p-panel header="User Home">
 <p>Address: {{userAddress}}</p>
 <p-carousel headerText="Participation in Agreements" [value]="agreementsList" class="ui-carousel">
        <ng-template let-agreement pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="" width="60"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Creation Time</div>
                        <div class="ui-grid-col-6">{{agreement.creationTime}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Price</div>
                        <div class="ui-grid-col-6">{{agreement.price}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Name</div>
                        <div class="ui-grid-col-6">{{agreement.name}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button type="button" pButton icon="pi pi-search" [routerLink]="['/agreement/'+agreement.address]"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
 </p-carousel>

 <p-carousel headerText="My Agreements" [value]="agreementsList">
        <ng-template let-agreement pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="" width="60"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Creation Time</div>
                        <div class="ui-grid-col-6">{{agreement.creationTime}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Price</div>
                        <div class="ui-grid-col-6">{{agreement.price}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">Name</div>
                        <div class="ui-grid-col-6">{{agreement.name}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <button type="button" pButton icon="pi pi-search"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
 </p-carousel>

 <button pButton type="button" label="Unlock Wallet" class="ui-button-secondary"></button>
</p-panel>-->

<div class="user-overview ui-g">
    <div class="ui-g-12">
        <div class="card ui-g">
            <div class="ui-g-12">
                <h3>Participation in agreements</h3>
            </div>
            <div class="ui-g-12">
                <h3>My Agreements</h3>
            </div>
            <div class="ui-g-12 ui-lg-6" *ngFor="let agreement of agreementsList">
                <a [routerLink]="['/agreement/'+agreement.address]">
                    <div class="card-gray ui-g">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <h3>{{agreement.name}}</h3>
                            </div>
                            <div class="ui-g-12">
                                <p><b>Price: </b>{{agreement.price}}</p>
                            </div>
                            <div class="ui-g-12">
                                <p><b>Expiration Time: </b>{{agreement.expirationTime}}</p>
                            </div>                  
                        </div>
                    </div>
                </a>
            </div> 
        </div>
    </div>
</div>
