/*:host >>> .ui-carousel {
    margin: 10px;   
    text-align: center;
    display: block;
}

:host >>> .ui-panel	
{
    display:block;
    margin-left: 175px;
}

:host >>> .ui-carousel-header
{
    font-family: 'Enriqueta', arial, serif; 
    line-height: 1.25; 
    margin: 0 0 10px; 
    font-size: 20px; 
    font-weight: bold; 
}

p 
{
    font-family: 'Enriqueta', arial, serif; 
    font-size: 15px;
}

button
{
   text-align: center;
}

.card-gray {
    background-color: #808080;
    border-radius: 6px;
    padding: 24px;
}

a:hover {
    color: black;
}
a:hover > .card {
    background: #E6E6E6;
}

a {
    color: black;
}*/

.address {
    margin-top: 320px;
    margin-left: 360px;
    margin-right: 200px;
}

.address-card {
    color: #d8d8d8;
    background-color: #215d82;
    width: 470px;
    opacity: 0.9;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 24px;
}

.address-div {
    color: #d8d8d8;
    font-size: 18px;
    display: inline;
}

.address-value-div {
    color:#2d3748;
    font-size: 18px;
    display: inline;
}

.user-overview {
    margin-top: 40px;
    margin-left: 440px;
    margin-right: 200px;
}

.my-agreements-div {
    color: #d8d8d8;
    font-size: 32px;
    text-align: center;
}

:host ::ng-deep .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding: 0em;
}

:host ::ng-deep .ui-g {
    display: block;
} 

.card {
    background-color: #216a8d;
    opacity: 0.9;
    padding: 32px;
    padding-left: 48px;
    padding-right: 48px;
}

a:hover > .card {
    background-color: #1f577a;
}

.space {
    padding: 1.5em;
}

.name-div {
    margin-bottom: 20px;
}

.price-div {
    margin-bottom: 8px;
}

.card-name-value {
    font-size: 26px;
    color: #cca300;
    display: inline;
}

.card-price {
    color: #d8d8d8;
    font-size: 18px;
    display: inline;
}

.card-price-value {
    color: #333e50;
    margin-left: 22px;
    font-size: 18px;
    display: inline;
}

.card-blocks-to-expire {
    color: #d8d8d8;
    font-size: 18px;
    display: inline;
}

.card-blocks-to-expire-value {
    color: #333e50;
    margin-left: 14px;
    font-size: 18px;
    display: inline;
}