<div class="search ui-g">    
    <div class="ui-g-12">
        <div class="card">
            <input type="search"  [formControl]="searchValue">
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6" *ngFor="let agreement of agreements|async">
        <a [routerLink]="['/agreement/'+agreement.address]">
            <div class="card ui-g">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <h3>{{agreement.name}}</h3>
                    </div>
                    <div class="ui-g-12">
                        <p><b>Price: </b>{{agreement.price}}</p>
                    </div>
                    <div class="ui-g-12">
                        <p><b>Expiration Time: </b>{{agreement.expirationTime}}</p>
                    </div>                  
                </div>
            </div>
        </a>
    </div>  
</div>

