.search {
    margin-top: 280px;
    margin-left: 380px;
    margin-right: 200px;
}

.search-display {
    margin-top: 60px;
    margin-left: 440px;
    margin-right: 200px;
}

.search-input {
    background-color: #215d82;
    width: 320px;
    border: 0px;
    opacity: 0.9;
    color: white;
    height: 40px;
    padding-left: 12px;
    font-size: 18px;
}

.search-input::placeholder {
    color: #c6c9cb;
}

:host ::ng-deep .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding: 0em;
}

:host ::ng-deep .ui-g {
    display: block;
} 

.card {
    background-color: #216a8d;
    opacity: 0.9;
    padding: 32px;
    padding-left: 48px;
    padding-right: 48px;
}

a:hover > .card {
    background-color: #1f577a;
}

.space {
    padding: 1.5em;
}

.name-div {
    margin-bottom: 20px;
}

.price-div {
    margin-bottom: 8px;
}

.card-name-value {
    font-size: 26px;
    color: #cca300;
    display: inline;
}

.card-price {
    color: white;
    font-size: 18px;
    display: inline;
}

.card-price-value {
    color: #333e50;
    margin-left: 22px;
    font-size: 18px;
    display: inline;
}

.card-blocks-to-expire {
    color: white;
    font-size: 18px;
    display: inline;
}

.card-blocks-to-expire-value {
    color: #333e50;
    margin-left: 14px;
    font-size: 18px;
    display: inline;
}