.sidebar
{
    width: 250px;
    size: cover;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 24%;
    opacity: 0.9;
    
}

.menu {
    padding-left: 0px;
    background-color: #21597c;
    border-radius: 0px 6px 6px 0px;
}

.a-menu-item {
    display: block;
    vertical-align: middle;
}

.menu-item {
    border-left-style: solid;
    border-left-color: transparent;
    border-left-width: 4px;
    display: block;
    padding: 12px;
    padding-left: 24px;
    text-decoration: none;
    color: #d8d8d8;
    /*padding-bottom: 12px;
    padding-top: 12px;*/
    border-bottom-style: solid;
    border-bottom-color: #273d54;
    border-bottom-width: 1px;
}

.menu-item:hover {
    background-color: #366d92;
}

.a-menu-item:last-child(2) > .menu-item {
    border-bottom: 0px;
}

.active {
    border-left-color: #007ad9;
    background-color: #14334f;
}

.active:hover {
    background-color: #14334f;
}

:host >>> .ui-panelmenu {
    height: 100vh;
}