<!--<div class="sidebar">
  <p-menu [model]="items"></p-menu>
</div>-->
<div class="sidebar">
  <ul class="menu">
    <li *ngFor="let item of items">
      <a *ngIf="router.url === item.routerLink" class="a-menu-item" [routerLink]="[item.routerLink]">
        <div class="menu-item active">
          {{item.label}}  
        </div>
      </a>   
      <a *ngIf="router.url !== item.routerLink" class="a-menu-item" [routerLink]="[item.routerLink]">
        <div class="menu-item">
          {{item.label}}  
        </div>
      </a>
    </li>
  </ul>
</div>
<div class="routerOutlet">
  <router-outlet></router-outlet>
</div>