/*.agreement-one-one {
    margin-left: 200px;
    margin-right: 30px;
}*/

.ui-steps .ui-steps-item {
    width: 33.3%;
}

.ui-steps.steps-custom {
    margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}

#nameInput, #priceInput {
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;
}

#nameLabel, #priceLabel {
    margin-left: 5%;
    font-weight: bold;
}

#descriptionTextArea {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 8px;
    height: 340px;
}

.ui-calendar {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 8px;
}

#descriptionLabel, #expirationTimeLabel {
    margin-left: 2.5%;
    font-weight: bold;
}

#expirationTimeSelectButton {
    margin-left: 2.5%;
}

#submitButton {
    margin-top: 3px;
    margin-left: 2.5%;
}

#expirationTimeSelectButton > .ui-selectbutton {
    width: 95%;
}

#expirationTimeSelectButton > .ui-selectbutton > .ui-button {
    width: 50%;
}