@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.scss';

body {
    /*background-color: #aa3334;*/
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    background-color: #20364d;
    background-image: url("/src/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}