.header {
    /*background: #333;*/
    /*background-image: url("/src/assets/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 240px;
    top: 0px;
    left: 0px;
    right: 0px;*/
}

img {
    width: auto;
    height: 60px;
  }